// $font-stack: 'Tajawal', sans-serif;

$color-light: #F2EEE7;
$color-dark: #1F2226;
$color-darkblue: #313E4F;
$color-orange: #F0831E;
$color-green: #1B5F3B; //These 3 are from the sticker, they're bright so best used as accents
$color-red: #E14D4D;
$color-white: #FFF;
$color-black: #000;

// $color-offwhite: #eaebeb;
// $color-gray-20: #c1c3c5;
// $color-gray-40: #989b9f;
// $color-gray-60: #6f7479;
// $color-gray-80: #323840;
// $color-gray-90: #060709;
   
// $font-title-main: 'Rubik', sans-serif;
// $font-title-marker: 'Permanent Marker', cursive;
// $font-paragraph-main: 'Tajawal', sans-serif;  
// $font-accent: 'Baloo Bhaina', sans-serif;

// $fa-font-path:        "../webfonts";