extends layout

block content
  .container
    .row.justify-content-center
      .col-5
        .container.rounded.border.border-dark.mt-5.px-5.pt-3
          .row
            img.img-fluid(src="images/logo/logo_large.png", alt="Trivially Logo")
          .row
            p.align-center Coming Soon
